*{
    font-family:"Comic Sans MS", cursive, sans-serif;
    box-sizing: border-box;
}

.title{
    text-align: center;
    height: 100px;
    font-size: 180%;
}

.menu{
    border: 2px solid black;
    background-color: #999999;
    margin: 12px;
}

.row{
    width: 90%;
    border: 2px;
    margin: auto;
}

.menu-title{
    border: 2px solid black;
    float: right;
    width: 40%;
    text-align: center;
    height: 35px;
    font-size: 130%;
}

.chicken{
    background-color: #cf8d8d;
}
     

.beef{
    background-color: #b93c3b; 
    color:white;
}
     

.sushi{
    background-color: #e1ca8d;
}

p{
    clear: right;
    margin: 10px;
    margin-top: 45px; 
}

/******** For Desktop *********/
@media (min-width: 992px){
    .col-lg-4{
        float: left;
        width: 33.33%;
    }
}

/******** For Tablet *********/
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6{
        width: 50%;
        float: left;
    }
    .col-md-12{
        width: 100%;
        float: left;
    }
}

/******** For Mobile *********/
@media (max-width: 767px){
    .col-sm-12{
        float: left;
        width: 100%;
    }
}